@import url('element-plus/dist/index.css');

:root {
  --el-color-primary: #167EFF;
  --el-color-danger: #FF4400;

  --dw-bg: #f7f8fa;
  --dw-box-bg: #fff;
  // --dw-box-bg: rgb(95, 207, 235);
}


.el-button--primary:focus {
  background-color: var(--el-color-primary) !important;
}
.el-button--primary.is-link:focus {
  background-color: transparent !important;
}


$primary: var(--el-color-primary);